
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>

<div>
    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=60.38744056092558~25.653955936431885&lvl=17&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
    </iframe>
    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=60.38744056092558~25.653955936431885&amp;sty=r&amp;lvl=17&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=60.38744056092558~25.653955936431885&amp;sty=r&amp;lvl=17&amp;rtp=~pos.60.38744056092558_25.653955936431885____&amp;FORM=MBEDLD">Get Directions</a>
    </div>
</div>